<?xml version="1.0"?>
<config>
  <modules>
    <Iksula_Homepagebanner>
      <version>0.1.0</version>
    </Iksula_Homepagebanner>
  </modules>
  <frontend>
    <routers>
      <homepagebanner>
        <use>standard</use>
          <args>
            <module>Iksula_Homepagebanner</module>
            <frontName>homepagebanner</frontName>
          </args>
      </homepagebanner>
    </routers>
		<layout>
		  <updates>
			<homepagebanner>
			  <file>homepagebanner.xml</file>
			</homepagebanner>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <homepagebanner>
        <class>Iksula_Homepagebanner_Helper</class>
      </homepagebanner>
    </helpers>
	<blocks>
	  <homepagebanner>
		<class>Iksula_Homepagebanner_Block</class>
	  </homepagebanner>
	</blocks>
	<models>
	  <homepagebanner>
		<class>Iksula_Homepagebanner_Model</class>
		<resourceModel>homepagebanner_mysql4</resourceModel>
	  </homepagebanner>
	  <homepagebanner_mysql4>
		<class>Iksula_Homepagebanner_Model_Mysql4</class>
		<entities>		  
			  <homeslider>
				<table>homepagebanner</table>
			  </homeslider>
        </entities>
	  </homepagebanner_mysql4>
	</models>
	<resources>
	  <homepagebanner_setup>
		<setup>
		  <module>Iksula_Homepagebanner</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </homepagebanner_setup>
	  <homepagebanner_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </homepagebanner_write>
	  <homepagebanner_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </homepagebanner_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <homepagebanner>
	    <use>admin</use>
		<args>
		  <module>Iksula_Homepagebanner</module>
		  <frontName>homepagebanner</frontName>
		</args>
	  </homepagebanner>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <homepagebanner module="homepagebanner">
		<title>Homepagebanner</title>
		<sort_order>100</sort_order>
		<children>
		  <homeslider module="homepagebanner">
		    <title>Manage Homeslider</title>
			<sort_order>0</sort_order>
			<action>homepagebanner/adminhtml_homeslider</action>
		  </homeslider>
		</children>
	  </homepagebanner>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<homepagebanner translate="title" module="homepagebanner">
			  <title>Homepagebanner</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <homeslider translate="title">
			<title>Manage Homeslider</title>
			<sort_order>0</sort_order>
		  </homeslider>
			  </children>
			</homepagebanner>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<homepagebanner>
		  <file>homepagebanner.xml</file>
		</homepagebanner>
	  </updates>
	</layout>
  </adminhtml>
</config> 