<?xml version="1.0"?>
<config>
    <modules>
        <Chilly_Imageslide>
            <version>0.1.0</version>
        </Chilly_Imageslide>
    </modules>
    <frontend>
        <routers>
            <imageslide>
                <use>standard</use>
                <args>
                    <module>Chilly_Imageslide</module>
                    <frontName>imageslide</frontName>
                </args>
            </imageslide>
        </routers>
        <layout>
            <updates>
                <imageslide>
                    <file>imageslide.xml</file>
                </imageslide>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <imageslide>
                <use>admin</use>
                <args>
                    <module>Chilly_Imageslide</module>
                    <frontName>imageslide</frontName>
                </args>
            </imageslide>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <imageslide module="imageslide">
                <title>Imageslide</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="imageslide">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>imageslide/adminhtml_imageslide</action>
                    </items>
                </children>
            </imageslide>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <imageslide>
                            <title>ImageSlide Module</title>
                            <sort_order>200</sort_order>
                        </imageslide>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <imageslide>
                    <file>imageslide.xml</file>
                </imageslide>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <imageslide>
                <class>Chilly_Imageslide_Model</class>
                <resourceModel>imageslide_mysql4</resourceModel>
            </imageslide>
            <imageslide_mysql4>
                <class>Chilly_Imageslide_Model_Mysql4</class>
                <entities>
                    <imageslide>
                        <table>imageslide</table>
                    </imageslide>
                </entities>
            </imageslide_mysql4>
        </models>
        <resources>
            <imageslide_setup>
                <setup>
                    <module>Chilly_Imageslide</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imageslide_setup>
            <imageslide_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </imageslide_write>
            <imageslide_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imageslide_read>
        </resources>
        <blocks>
            <imageslide>
                <class>Chilly_Imageslide_Block</class>
            </imageslide>
        </blocks>
        <helpers>
            <imageslide>
                <class>Chilly_Imageslide_Helper</class>
            </imageslide>
        </helpers>
    </global>
</config>