<?xml version="1.0"?>
<config>
  <modules>
    <Shopelect_Seller>
      <version>0.1.0</version>
    </Shopelect_Seller>
  </modules>
  <frontend>
    <routers>
      <seller>
        <use>standard</use>
          <args>
            <module>Shopelect_Seller</module>
            <frontName>seller</frontName>
          </args>
      </seller>
    </routers>
		<layout>
		  <updates>
			<seller>
			  <file>seller.xml</file>
			</seller>
		  </updates>
		</layout>
  </frontend>
  <global>
		<rewrite>        
            <shopelect_seller_customer_accountcontroller>
                <from><![CDATA[#^/customer/account/#]]></from> <!-- Mage_Customer_AccountController  -->
                <to>/seller/customer_account/</to> <!-- Shopelect_Seller_Customer_AccountController  -->
            </shopelect_seller_customer_accountcontroller>
		</rewrite>
    <helpers>
      <seller>
        <class>Shopelect_Seller_Helper</class>
      </seller>
    </helpers>
	<blocks>
	  <seller>
		<class>Shopelect_Seller_Block</class>
	  </seller>
	</blocks>
	<models>
	  <seller>
		<class>Shopelect_Seller_Model</class>
		<resourceModel>seller_mysql4</resourceModel>
	  </seller>
	  <seller_mysql4>
		<class>Shopelect_Seller_Model_Mysql4</class>
		<entities>		  
			  <groupdiscount>
				<table>group_discount</table>
			  </groupdiscount>
        </entities>
	  </seller_mysql4>
	</models>
	<resources>
	  <seller_setup>
		<setup>
		  <module>Shopelect_Seller</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </seller_setup>
	  <seller_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </seller_write>
	  <seller_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </seller_read>
	</resources>
	<event>
		<customer_register_success>
			<observers>
				<register_social>
					<type>singleton</type>
					<class>Shopelect_Seller_Model_Observer</class>
					<method>sellerRegistration</method>
				</register_social>
			</observers>
		</customer_register_success>
	</event>
  </global>
  <admin>
	<routers>
	  <seller>
	    <use>admin</use>
		<args>
		  <module>Shopelect_Seller</module>
		  <frontName>seller</frontName>
		</args>
	  </seller>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <seller module="seller">
		<title>Seller</title>
		<sort_order>100</sort_order>
		<children>
		  <groupdiscount module="seller">
		    <title>Manage Groupdiscount</title>
			<sort_order>0</sort_order>
			<action>seller/adminhtml_groupdiscount</action>
		  </groupdiscount>
		</children>
	  </seller>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<seller translate="title" module="seller">
			  <title>Seller</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <groupdiscount translate="title">
			<title>Manage Groupdiscount</title>
			<sort_order>0</sort_order>
		  </groupdiscount>
			  </children>
			</seller>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<seller>
		  <file>seller.xml</file>
		</seller>
	  </updates>
	</layout>
  </adminhtml>
</config> 